*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  padding: 3rem;
line-height: 1.34; }


#userNotification {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  color: white;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  padding: 1rem 3rem;
}

  .header-banner {
    height: 75vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/headerGraphic.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); 
    margin-bottom: 5rem;}

    .header-banner__text-box {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; 
        color: #fff;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 6rem;          
         display: block;
          font-size: 10rem;
          font-weight: 400;
          letter-spacing: 3.5rem;
          animation: showText 5s ease-out; 
        }

        #postcodeSuccessMsg {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          transform: translate(-50%, -50%);
          backface-visibility: hidden;
          display: none;
          color: #fff;
          margin-top: 6rem;
          padding: 1rem;
          text-transform: uppercase;
          font-size: 3rem;

    
        }

        #modal {
          /* This way it could be display flex or grid or whatever also. */
          display: none;
          
          /* Probably need media queries here */
          width: 40rem;
          max-width: 100%;
          
          height: 30rem;
          max-height: 100%;
          
          position: fixed;
          
          z-index: 1;
          
          left: 50%;
          top: 50%;
          
          /* Use this for centering if unknown width/height */
          transform: translate(-50%, -50%);
          
          /* If known, negative margins are probably better (less chance of blurry text). */
          /* margin: -200px 0 0 -200px; */
          
          background: white;
          box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
        }
     
   
        .modal-guts {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          padding: 20px 50px 20px 20px;
        }
        
        .extras {
          padding: 1rem;
        }

        .extraPrice {
          padding: 1rem;
        }

        #postcodeFailureMsg {
          position: absolute;
          top: 70%;
          left: 50%;
          text-align: center;
          transform: translate(-50%, -50%);
          backface-visibility: hidden;
          display: none;
          color: #fff;
          margin-top: 6rem;
          padding: 1rem;
          text-transform: uppercase;
          font-size: 1rem;

    
        }
          #postcodeInput {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            backface-visibility: hidden;
            display: block;
            color: #fff;
            margin-top: 6rem;
            animation: showText 2s ease-out;
      
          }

          #checkoutBtnMain {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            display: none;
            color: #fff;
            font-weight: 600;
            letter-spacing: 1.10;
            background-color: white;
            color: rgba(40, 180, 133, 1);
            padding: 0.75rem;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1.5rem 4rem;
            border-radius: 1rem;
            transition: all .2s;
           font-size: 1.6rem;
            border: none;
            cursor: pointer; 
            margin-left: 0;
            margin-top: 6rem;
          }

#btnCheckout:link,
#btnCheckout:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; 
}


#checkoutBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  #checkoutBtn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

#checkoutBtn:active, #checkoutBtn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }


          #checkoutBtn:hover {
            cursor: pointer;
          }


          .postcodeInput_text {
            padding: 1rem;
            text-transform: uppercase;
            font-size: 2rem;
            display: block;
          }

          #discountCodeSection {
            display:inline-flex;
          }
          #discountCodeInput {
            text-transform: uppercase;
            text-align: center;
            background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
            border: 1px solid white;
            color: white;
            outline: none;
            width:50%;

          }



          #discountCodeInput::placeholder {
            text-transform: uppercase;
            text-align: center;
            color: white;
          }
          #inputBoxPostcode {
            outline:none;
            border: 1px solid rgba(126, 213, 111, 0.8);
            padding: 1rem;
            margin: 1rem;
            color:  black;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 10px;
            text-align: center;
                   }

                   .standardInput
                  {
                    border: none;
                    outline: none;
                    border-bottom: 0.5px solid rgba(126, 213, 111, 0.8);
                    display: flex;
                    margin: 1rem;
                    padding: 1rem;
                    width: 50%;
                  }

                  .standardInput:hover,
                  .standardInput:active
                  {
                   border: 1px solid rgba(126, 213, 111, 0.8);
                  }
                           

                        



          .inputBoxPostcode:active,
          .inputBoxPostcode:focus {
            outline: none;
          }

          @keyframes showText {
            0% {
              opacity: 0;
               }
            80% {
               }
            100% {
              opacity: 1;
               } }


               .categoryTitle {
                font-size: 3rem;
                text-transform: uppercase;
              }


.categoryDesc {
  font-size: 1rem;
  margin: 0.5rem;
  font-weight: 500;
}

  .paragraph {
    font-size: 1.6rem; }

.productName {
    padding: 1rem;
    display: inline-flex;
}

.fa-pepper-hot {
  color: #ff0000;
  margin: 0.3rem;
}

.priceElement {
display: inline-flex;
}

.productDesc {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.1rem 1rem;
  width: 50%;
}

#sectionMenu {
  display:none;
}

.orderDetail {
  display: inline-flex;
}

.product {
  margin: 1.5rem;
}

.productSection {
    border-bottom: 0.5px solid black;
}

.menu {
  margin: 0 auto;
  width: 50vw;
}

.menuReview {
  margin: 0 auto;
  width: 100vw;
}

.orderDetail {
  padding-left: 2rem;
}

.btnAddtoCart {
margin-left: 0.5rem;
}

.discountDetail {
font-weight: bold;
color: #ff0000;
}

.cart {
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  color: white;
    float: right;
  -webkit-box-shadow: 2px -1px 6px -1px rgba(0,0,0,0.42);
-moz-box-shadow: 2px -1px 6px -1px rgba(0,0,0,0.42);
box-shadow: 2px -1px 6px -1px rgba(0,0,0,0.42);
  padding: 2rem;
  margin-top: 10vh;
  margin-right: 10vw;
  font-size: 1.2rem;
  animation: showText 1s ease-out;
  border-radius: 10px;
  
}

#cartMinimize {
position: absolute;
top: 0;
right: 0;
font-weight: 800px;
font-size: 2rem;
padding: 0;
margin-right: 1rem;
color: white;
}

#cartMinimize:hover {
  cursor: pointer;
}

#cartMobile {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  display: none;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  position: fixed;
  bottom: 0%;
  right: 0;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
}

#cartMobile:hover {

  font-size: 2.1rem;

}
.cartReview {
margin: 2rem;
float: right;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  color: white;
  -webkit-box-shadow: 2px -1px 6px -1px rgba(0,0,0,0.42);
-moz-box-shadow: 2px -1px 6px -1px rgba(0,0,0,0.42);
box-shadow: 2px -1px 6px -1px rgba(0,0,0,0.42);
  padding: 2rem;
  margin-top: 10vh;
  margin-right: 10vw;
  font-size: 1.2rem;
  animation: showText 1s ease-out;
  border-radius: 10px;
  
}

.extraCart {
  margin: 0 1rem;
}

@media (max-width: 700px) {
  .cartReview {
    float: none;
    margin: 0 auto;
    margin-right: 50%;
    width:80%;

  }
}

.cartHeading {
  font-size: 1.9rem;
}

.cartDetailHeading {
  font-size: 1.9rem;
  font-weight: 800;
}

.emptyBasket {
  padding: 1rem;
}

.cartItem {
  padding: 0.2rem;
}


.cartMultiplier {
  font-size: 0.8rem;
  padding: 1rem;
}

.cartOrderTotal {
  padding: 0.5rem;
  font-weight: bold;
}

.cartQty {
  font-size: 1.2rem;
}


.Total {
  margin-top: 2rem;
  font-weight: 700;
}

button {
  border: 1px solid rgba(126, 213, 111, 0.8);
  color: rgba(126, 213, 111, 0.8);
  background: white;
  padding: 0rem 0.3rem;
  margin-left: 1rem;
  font-weight: 800;
  font-size: 1.5rem;

}

button:active,
button:hover {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
}

button:hover {
  cursor: pointer;
}

.btnAddtoCart {
  margin-left: 1rem;
}

.header-banner-checkout {
  height: 25vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/headerGraphic.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); 
  margin-bottom: 5rem;}

  .header-banner-checkout__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
      color: #fff;
      text-transform: uppercase;
      backface-visibility: hidden;
      margin-bottom: 6rem;          
       display: block;
        font-size: 10rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: showText 5s ease-out; }

        .header-banner-checkout__review {
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-transform: uppercase;
          backface-visibility: hidden;
          color: #fff;
          display: block;
          margin-bottom: 6rem;  
          font-size: 4rem;
          font-weight: 400;      
        }  




.checkoutBtn,
.reedemBtn,
.confirmBtn {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  text-transform: uppercase;

}

.cartPrice {
  font-weight: bold;
}

.cartOrderTotal {
  font-weight: bold;
}

.row {
  margin-bottom: 3rem;
}


.deliveryForm {
  width: 100%;
  margin: 0 auto;
}

.orderConfirmation {
  width: 50%;
  margin: 0 auto;
}

.orderConfirmationH1 {
  margin-bottom: 1rem;
}

.orderConfDeliverySection {
  margin-top: 1rem;
}

.orderConfPostcode {
  margin-bottom: 3rem;
}

.orderConfItemsHeading {
  margin: 1rem 0rem;
}

.orderConfItems,
.orderConfItemPrice,
.orderConfSubTotal,
.orderConfGrandTotal {
  margin: 1rem 0rem;
}

.is-danger {
  font-size: 1rem;
  color: red;
}


@media (max-width: 900px) {
  .header-banner__text-box { 
  font-size: 4rem; }
  .header-banner-checkout__text-box {
    font-size: 4rem;
  }
  .header-banner-checkout__review {
    font-size: 2rem;
  }

  #checkoutBtnMain {
    padding: 0.75rem;
    padding: 1.2rem 3rem;
   font-size: 1.3rem;
  
  }

#btnCheckoutMain:link,
#btnCheckoutMain:visited {
padding: 1.2rem 3rem;
border-radius: 10rem;

}
  }

  #postcodeSuccessMsg {
font-size: 1.5rem;
  }
  .postcodeInput_text {
    font-size: 1.5rem;
  }




@media (max-width: 600px) {
#checkoutBtnMain {
  top: 40%;
}
  .header-banner__text-box { 
  font-size: 3rem;
  letter-spacing: 1.5rem;
  }
  .header-banner-checkout__text-box {
    font-size: 4rem;
    letter-spacing: 1.5rem;
  }
  .header-banner-checkout__review {
    font-size: 2rem;
  }
  .productDesc {
    width: 100%;
  }
.cart {
  display: none
}


  }

  @media (max-width: 400px) {
    .header-banner__text-box { 
      font-size: 3rem;
      letter-spacing: 1.5rem;
    }

    .header-banner-checkout__text-box {
      font-size: 3rem;
      letter-spacing: 1.5rem
    }
    .header-banner-checkout__review {
      font-size: 1rem;
    }



  }

  @media (max-width: 699px){
  .cartReview {
    margin-left: 2rem;
  }

  .standardInput {
    width: 100%;
  }

}

  #lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    display: none;
  }
  #lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
    background-color:rgba(126, 213, 111, 0.8);
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  

